@import url("./global/null.css");
@import url("./global/index.css");
@import url("./global/animation.css");

@import url("./header/index.css");
@import url("./global/footer.css");

@import url("./section/common.css");
@import url("./section/blue-block.css");

@import url("./components/spollers.css");

._container {
  max-width: 1600px;
  padding: 0 110px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  ._container {
    padding: 0 20px;
  }
}

.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

.bg__wrap {
  position: relative;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Main */
/* Hero */
.hero {
  position: relative;
  background-color: var(--main-color);
}

.hero__title {
  margin-bottom: 27px;
}

.hero__text {
  margin-bottom: 126px;
}

.hero__content {
  max-width: 604px;
  width: 100%;
  padding: 156px 0 147px;
}

.hero__right {
  width: 40%;
  height: 120%;
  position: absolute;
  top: 0;
  right: 0;
}

.hero__bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__scroll-btn {
  position: absolute;
  bottom: 19px;
  right: 110px;
  cursor: pointer;
}

.hero__logo {
  max-width: 320px;
  width: 100%;
  object-fit: contain;
  margin-top: 60px;
}

@media (max-width: 1200px) {
  .hero__text {
    margin-bottom: 56px;
  }

  .hero__scroll-btn img {
    width: 80px;
  }
}

@media (max-width: 1100px) {
  .hero__right {
    display: none;
  }

  .hero__content {
    max-width: 100%;
    padding: 56px 0 47px;
  }

  .hero__title {
    margin-bottom: 10px;
  }

  .hero__logo {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
/* ------------------------------------ */

/* Main-numbers */
.main-numbers {
  padding: 113px 0 0 0;
}

.main-numbers__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.main-numbers__line {
  border-bottom: 1px solid var(--border-color1);
  padding-bottom: 81px;
}

.main-numbers__item {
  display: flex;
  flex-direction: column;
}

.main-numbers__item-number {
  display: flex;
  align-items: center;
  gap: 10px;

  color: var(--black);
  font-size: 52px;
  font-weight: 300;
  line-height: 1.23;
}

.main-numbers__item-number span {
  color: var(--black);
  font-size: 90px;
  font-weight: 600;
  line-height: 1.15;
}

.main-numbers__item-text {
  color: var(--silver-d);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

@media (max-width: 1100px) {
  .main-numbers__item {
    width: calc(50% - 10px);
    align-items: center;
  }

  .main-numbers__container {
    flex-wrap: wrap;
  }

  .main-numbers {
    padding: 50px 0 0 0;
  }
}

@media (max-width: 767px) {
  .main-numbers__item-number span {
    font-size: 50px;
  }

  .main-numbers__item-number {
    font-size: 30px;
  }

  .main-numbers__item-text {
    font-size: 16px;
  }

  .main-numbers__item-text {
    text-align: center;
  }
}

@media (max-width: 450px) {
  .main-numbers__container {
    flex-direction: column;
  }
}

/* portfolio */
.portfolio {
  background-color: var(--main-color);
  padding: 151px 0 450px 0;
}

.portfolio__head {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.portfolio__head_item {
  width: 40%;
}

.portfolio__head_item .text__line {
  margin-bottom: 16px;
}

.portfolio__swiper {
  margin-top: -400px;
}

.portfolio__arrows {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 24px;
  margin-bottom: 54px;
}

.portfolio__btn_wrap {
  margin: 100px auto 150px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .portfolio__head {
    flex-direction: column;
    align-items: center;
  }

  .portfolio__head_item {
    text-align: start;
    width: 100%;
  }

  .portfolio__head_item .title {
    margin-bottom: 5px;
  }
}

@media (max-width: 767px) {
  .portfolio__arrows img {
    width: 50px;
  }

  .portfolio__btn_wrap {
    margin: 50px auto 50px;
  }
}

/* main-images */
.main-images {
  padding: 0 0 80px 0;
}

.main-images__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-images__item {
  width: calc(50% - 15px);
}

.main-images__item .title {
  margin: 16px 0 12px;
  padding-right: 30px;
  max-width: 80%;
}

.main-images__item .text {
  max-width: 80%;
}

.main-images__item .btns__wrap {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #cfcfd0;
}

.main-images__item--2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 23px;
}

.main-images__item .image--first {
  width: 100%;
  object-fit: contain;
  margin: 40px 0;
}

@media (max-width: 1550px) {
  .main-images__item .title {
    padding-right: 0;
    max-width: 100%;
  }

  .main-images__item .text {
    max-width: 100%;
  }
}

@media (max-width: 1000px) {
  .main-images__image {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 20px;
  }

  .main-images__item {
    width: 100%;
  }

  .main-images {
    padding: 0 0 40px 0;
  }
}

@media (max-width: 767px) {
  .portfolio__arrows,
  .arrows {
    gap: 10px !important;
  }

  .arrows img {
    width: 50px;
  }
}

/* testimonials */
.testimonials {
  padding: 60px 0 80px;
}

.arrows {
  display: flex;
  align-items: center;
  gap: 24px;
}

.arrow {
  cursor: pointer;
}

.testimonials__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 34px;
  padding-bottom: 34px;
  border-bottom: 1px solid var(--silver-d);
  margin-bottom: 58px;
}

.testimonials__item {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 950px;
}

.testimonials__content {
  padding: 70px 90px;
  margin-left: -30%;
  height: 50%;
  width: 60%;
  background-color: var(--main-color);
}

.testimonials__person {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 13px;
}

.testimonials__person_img {
  min-height: 80px;
  max-height: 80px;
  min-width: 80px;
  max-width: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.testimonials__person_name {
  color: #fff;
  text-align: right;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.4;
}

.testimonials__content .text {
  padding-left: 30px;
  padding-bottom: 24px;
}

@media (max-width: 1200px) {
  .testimonials__content {
    margin-left: 0;
  }

  .testimonials__image {
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
  }

  .testimonials__content {
    height: auto;
    width: auto;
    padding: 20px;
  }

  .testimonials__content .text {
    padding-left: 0;
  }
}

@media (max-width: 500px) {
  .testimonials__person_name {
    font-size: 20px;
  }

  .testimonials__person_img {
    min-height: 60px;
    max-height: 60px;
    min-width: 60px;
    max-width: 60px;
  }

  .testimonials__head {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
}

/* ------------------------------ */
/* about */
.about {
  padding: 100px 0;
}

.about__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 36px;
  border-bottom: 1px solid var(--silver-d);
  margin-bottom: 500px;
  gap: 30px;
}

.about__head_right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 32px;
  max-width: 470px;
}

.about__images {
  display: flex;
  margin-top: -500px;
  gap: 30px;
  margin-bottom: 200px;
}

.about__image {
  width: calc(50% - 15px);
  height: 680px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__image-1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__image-2 {
  width: 100%;
  height: calc(100% - 137px);
  object-fit: cover;
}

@media (max-width: 1000px) {
  .about__head {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  .about__images {
    flex-direction: column;
    margin-top: -550px;
  }

  .about__images {
    margin-bottom: 100px;
  }

  .about__image-2 {
    height: 100%;
  }

  .about__image {
    width: 100%;
    height: auto;
  }
}

/* about-values */
.about-values {
  padding: 200px 0;
}

.about-values__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;

  margin: 0 auto 30px;
  padding-bottom: 64px;
  border-bottom: 1px solid var(--silver-d);
}

.about-values__head .text__line {
  justify-content: center;
}

.about-values__head .title {
  max-width: 800px;
  text-align: center;
}

.about-values__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.about-values__item {
  width: calc(33.333% - 40px);
  padding-bottom: 32px;
  border-bottom: 1px solid var(--silver-d);
}

.about-values__item_number {
  color: var(--white);
  font-size: 90px;
  font-weight: 600;
  line-height: 1.1;
  text-align: center;
}

.about-values__item_title {
  color: var(--white);
  text-align: center;
  font-size: 38px;
  font-weight: 600;
  line-height: 50px;
  margin: 14px 0;
}

.about-values__item .text {
  text-align: center;
}

@media (max-width: 1200px) {
  .about-values__items {
    gap: 20px;
  }

  .about-values__item {
    width: calc(50% - 20px);
  }

  .about-values__item_number {
    font-size: 60px;
  }

  .about-values__item_title {
    font-size: 24px;
    margin: 6px 0;
  }

  .about-values {
    padding: 100px 0;
  }
}

@media (max-width: 700px) {
  .about-values__item {
    width: 100%;
  }

  .about-values__head {
    padding-bottom: 30px;
  }
}

/* teams */
.teams {
  padding: 80px 0 0 0;
}

.teams__head {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 70px;
  border-bottom: 1px solid var(--silver-d);
  margin-bottom: 50px;
}

.teams__head_col {
  display: flex;
  flex-direction: column;
}

.teams__head_title {
  color: var(--main-color);
  font-size: 40px;
  font-weight: 800;
  line-height: 1.25;
  margin-top: 30px;
}

.teams__head_title span {
  font-size: 70px;
}

.teams__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

.teams__item {
  width: calc(50% - 50px);
  padding-bottom: 18px;
  border-bottom: 1px solid var(--silver-d);
}

.teams__item_img {
  width: 100%;
  height: 470px;
  object-fit: cover;
  display: block;
  margin-bottom: 24px;
}

.team__name {
  color: var(--black);
  text-align: center;
  font-size: 38px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 24px;
}

.team__position {
  padding: 14px 22px;
  border-radius: 40px;
  border: 1px solid var(--black);
  color: var(--black);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  margin: 0 auto 13px;
  width: max-content;
}

.teams__item .text {
  text-align: center;
}

@media (max-width: 900px) {
  .teams__item_img {
    height: 300px;
  }

  .teams__head_title {
    font-size: 30px;
  }

  .teams__head_title span {
    font-size: 60px;
  }
}

@media (max-width: 767px) {
  .teams__head {
    flex-direction: column;
    align-items: start;
    padding-bottom: 30px;
  }

  .team__name {
    font-size: 28px;
  }

  .team__position {
    padding: 10px 16px;
  }
}

@media (max-width: 700px) {
  .teams__item_img {
    height: auto;
    object-fit: contain;
  }

  .teams__item {
    width: 100%;
  }

  .teams__head_title span {
    font-size: 30px;
  }

  .teams__head_title {
    margin-top: 10px;
    margin-bottom: 15px;
  }
}

/* Contact */
.contact {
  padding: 100px 0;
}

.contact__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 64px;
  border-bottom: 1px solid var(--silver-d);
  margin-bottom: 64px;
}

.contact__items {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contact__item {
  display: flex;
  align-items: center;
  gap: 23px;
}

.contact__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact__content_left {
  width: calc(45% - 20px);
}

.contact__content_left .networks__wrap {
  border-top: 1px solid var(--silver-d);
  padding-top: 40px;
}

.contact__content_form {
  width: calc(55% - 20px);
}

.contact__content_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-bottom: 64px;
}
.contact__form_title {
  margin-bottom: 20px;
}

@media (max-width: 1000px) {
  .contact__items {
    margin-top: 20px;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  .contact__head {
    flex-direction: column;
    align-items: start;
  }

  .contact__content_form,
  .contact__content_left {
    width: 100%;
  }

  .contact__content {
    flex-direction: column-reverse;
  }

  .contact__content_form {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--silver-d);
    margin-bottom: 20px;
  }
}

/* faq */
.faq {
  padding: 100px 0;
}

.faq__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
  padding-bottom: 64px;
  max-width: 850px;
  margin: 0 auto;
}

.faq__head .text__line {
  justify-content: center;
}

.faq__title {
  max-width: 800px;
}

.spoller__wrap_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.spoller__wrap {
  border-bottom: 1px solid var(--silver-d);
  padding-bottom: 40px;
  width: 100%;
}

.spoller__wrap_body {
  padding: 0 60px 0 0;
}

.spollers {
  display: flex;
  justify-content: space-between;
}

.spollers__col {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: calc(50% - 20px);
}

@media (max-width: 1000px) {
  .spoller__wrap_img-active img,
  .spoller__wrap_img-noactive img {
    width: 30px;
    height: 30px;
  }

  .spoller__wrap {
    padding-bottom: 20px;
  }

  .spollers__col {
    gap: 20px;
  }

  .faq {
    padding: 50px 0;
  }
}

@media (max-width: 767px) {
  .spollers {
    flex-wrap: wrap;
  }

  .spollers__col {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* follow-us */
.follow-us__head {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 64px;
  border-bottom: 1px solid var(--silver-d);
  margin-bottom: 64px;
  gap: 28px;
}

.follow-us__head_left {
  max-width: 600px;
}

.follow-us__head .text {
  max-width: 450px;
}

.follow-us__images {
  gap: 28px;
  display: flex;
}

.follow-us__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.follow-us__images_four {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}

.follow-us__images_four img {
  flex: 0 0 calc(50% - 14px);
  max-width: calc(50% - 14px);
  object-fit: cover;
}

.follow-us .btn {
  margin: 64px auto 0;
  display: block;
}

@media (max-width: 1300px) {
  .follow-us__images {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .follow-us__head {
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  .follow-us__head .text {
    max-width: 100%;
  }
}

@media (max-width: 430px) {
  .follow-us__images,
  .follow-us__images_four {
    gap: 10px;
  }

  .spoller__wrap_body {
    padding-right: 0;
  }

  .follow-us__images_four img {
    flex: 0 0 calc(50% - 5px);
    max-width: calc(50% - 5px);
  }
}

/* team-item page */
.team-item {
  margin-bottom: 250px;
}

.team-item__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
}

.team-item__bottom {
  display: flex;
  align-items: center;
}

.team-item__left {
  width: calc(100% - 550px);
}

.team-item__left .title {
  margin-bottom: 10px;
}

.team-item__bottom {
  border-top: 1px solid var(--silver-d);
  padding-top: 40px;
  margin-top: 18px;
  gap: 60px;
}

.team-item__right {
  min-width: 500px;
  min-height: 500px;
  max-width: 500px;
  max-height: 500px;
  object-fit: cover;
  margin-bottom: -100px;
}

@media (max-width: 1150px) {
  .team-item {
    margin-bottom: 100px;
  }

  .team-item__content {
    flex-direction: column;
  }

  .team-item__left {
    width: 100%;
  }

  .team-item__right {
    margin: 30px 0 20px 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 50%;
    max-height: 50%;
  }
}

/* text section */
.text-section__content {
  margin-bottom: 50px;
}

/* blog-section */
.blog-section {
  padding: 100px 0;
  background-color: var(--silver-l);
}

.blog-section__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 48px;
  border-bottom: 1px solid var(--silver-d);
  margin-bottom: 48px;
}

.blog-section__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 28px;
}

.blog-section__item {
  width: calc(33.333% - 28px);
}

.blog-section__item_image {
  width: 100%;
  height: 340px;
  object-fit: cover;
  margin-bottom: 24px;
}

.blog-section__top {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;
}

.blog-section__top span {
  min-width: 29px;
  min-height: 1px;
  background: #a6a7a8;
  display: block;
}

.blog-section__item_title {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--silver-d);
}
.blog-section__item_link {
  display: flex;
  align-items: center;
  gap: 6px;
}

@media (max-width: 1100px) {
  .blog-section__items {
    flex-direction: column;
  }

  .blog-section__item {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .blog-section__head {
    flex-direction: column;
    align-items: start;
    gap: 10px;

    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  .blog-section__head .title {
    margin-bottom: 5px;
  }

  .blog-section {
    padding: 50px 0;
  }
}
/* ------------------------------------ */
/* Article */
.article {
  cursor: pointer;
  min-width: 280px;
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
  padding-bottom: 13px;
  border-bottom: 1px solid #a6a7a8;
}

.article__image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-bottom: 18px;
}

.article__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 14px;
}

.article__link span {
  font-size: 38px;
}
